#CMake build files
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
/build
/cmake-build-*

#Compiled output
*.exe
*.out
*.so
*.a

#IDE specific files
.vscode/
.idea/
*.suo
*.user


conan.lock
conanbuild.bat
conanrun.bat
conanbuildinfo.cmake
conan_toolchain.cmake